.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.popular-posts h2{
  color: darkblue;
  font-size: 50px;
  margin-left: 10px;
}
.recent-posts h2{
  color: dar;
  font-size: 50px;
  margin-left: 10px;

}
.posts-container {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.popular-posts,
.recent-posts {
  flex: 1;
}

.popular-posts .posts {
  display: flex;
  gap: 20px;
}
.post-item {
  /* border: 1px solid #f50707; */
  border-radius: 8px;
  padding: 10px;
}
.post-item img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.post-card {
  /* border: 1px solid #090909; */
  border-radius: 8px;
  padding: 10px;
}

.post-card img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.post-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.author {
  margin-top: 10px;
  font-size: 2rem;
  color: #555;
}
