.main-container{
    display: flex;
    justify-content: center;
}
.container{
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color:rgb(44, 79, 94) ;
    border-radius: 5px;  
   
}
h1{
    text-align: center;
    font-size: 40px;
    color: white;
}
input{
    width: 90%;
    height: 30px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;   
}
button{
    width: 100px;
    height: 30px;
    margin: 10px;
    text-align: left;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
}
.delete{
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    border: none;

}
ol{
    color: white;
}

hr{
    color: white;
    width: 90%;
    
}