.cards{
    border: 2px solid black;
    width: 301px;
    padding: 5px;
    box-shadow: 10px 10px 10px black;
    margin: 10px;
}
.cards2{
    border: 2px solid black;
    width: 301px;
    padding: 5px;
    box-shadow: 10px 10px 10px black;
    margin:  10px;
}