/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.friends {
  text-align: center;
  font-size: 50px;
}
.card-content {
  width: 300px;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
}

.card-content img {
  width: 100%;
} */
