*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: rgb(6, 15, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.App{
    padding: 30px;  
    border: 2px solid white;
    background-color: aqua;
}
button{
    background-color: rgb(223, 230, 216);
    padding: 1px 10px;
    border: none;
    border-radius: 10px;
    margin: 5PX;
    

}