#navbar{
    width: 100%;
    background-color: blue;
    display: flex;
}
.logo{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
a{
    color: white;
    text-decoration: none;
}

.home{

    display: flex;
    margin-left: 600px;
    margin-top: 40px;
  
}
.sign{
    background-color: red;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}
button{
    cursor: pointer;
}
#mainbanner{
    width: 100%;
    height: 700px;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    border-radius: bottom 100px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;

    /* margin-top: 10px; */
}
.text{
    color: white;
    margin-top: 100px;
    margin-top: 100px;
    /* font-family: impact; */
}
.type{
    border-radius: 30px;
    font-size: 20px;
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    
}

.search{
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    background-color: red;
}
.i{
    border-radius: 20px;
}
.price{
    position: absolute;
    right: 220px;
    top: 130px;
    background-color: #008af8;
    border-radius: 25px;
    padding: 6px 20px 6px 20px;
    font-size: 20px;
    color: white;
    font-family: Impact;
}
.offer{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 530px;
    bottom: 90px;
    background-color: #ee626b;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    font-size:30px;
    color: white;
    font-family: impact;
    
}
#box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.box1{
    width: 300px;
    height: 200px;
    /* background-color: aqua; */
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 3px 5px gray, -3PX -3PX 5PX gray;
    
}
.f1{
    height: 80px;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
    margin:auto;
    text-align: center;
    margin: auto;
    margin-top: 20%;
}
.box2{
    width: 300px;
    height: 200px;
    /* background-color: aqua; */
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 3px 5px gray, -3PX -3PX 5PX gray;
    
}
.f2{
    height: 80px;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
    margin:auto;
    text-align: center;
    margin: auto;
    margin-top: 20%;
}
.box3{
    width: 300px;
    height: 200px;
    /* background-color: aqua; */
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 3px 5px gray, -3PX -3PX 5PX gray;
    
}
.f3{
    height: 80px;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
    margin:auto;
    text-align: center;
    margin: auto;
    margin-top: 20%;
}

.box4{
    width: 300px;
    height: 200px;
    /* background-color: aqua; */
    border-radius: 15px;
    text-align: center;
    box-shadow: 3px 3px 5px gray, -3PX -3PX 5PX gray;
    
}
.f4{
    height: 80px;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
    margin:auto;
    text-align: center;
    margin: auto;
    margin-top: 20%;
}
.tre{
    color: red;
    margin-left: 35px;
    margin-top: 100px;
}
.G{
    margin-left: 30px;
}

.Action{
    display: flex;
    /* position: absolute; */
    justify-content: space-evenly;
    
}
.trending1{
    width: 300px;
    height: 330px;
    background-image: url(/Lugx_gaming/trending-01.jpg);
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 20px;
}
.trending1 p{
    /* padding-top: 220px;
    padding-left: 30px; */
    margin-top: 250px;
    margin-left: 20px;
    font-size: 25px;
}
.trending2{
    width: 300px;
    height: 330px;
    background-image: url(l);
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 20px;
}
.trending2 p{
    margin-top: 250px;
    margin-left: 20px;
    font-size: 25px;
}
.trending3{
    width: 300px;
    height: 330px;
    background-image: url(/Lugx_gaming/trending-03.jpg);
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 20px;
}
.trending3 p{
    margin-top: 250px;
    margin-left: 20px;
    font-size: 25px;
}
.trending4{
    width: 300px;
    height: 330px;
    background-image: url(/Lugx_gaming/trending-04.jpg);
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 20px;
}
.trending4 p{
    margin-top: 250px;
    margin-left: 20px;
    font-size: 25px;
}

.Section_part{
    width: 100%;
    height: 600px;
    background-color: lightgray;
    border-radius: 100px;
}

.top-played{
    left: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 900px;
    padding-top: 50px;
}
.viewall{
  height: 30px;
  width: 100px;
  background-color: red;
  text-align: center;
  padding-top: 10px;
  border-radius: 40px;
}

.mosstplayed{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.topgame1{
    height:300px;
    width: 190px;
    background-color: white;
    border-radius: 30px;
    background-image: url(/Lugx_gaming/top-game-01.jpg);
    background-repeat: no-repeat;
}
.topgame1 p{
    margin-top: 210px;
    margin-left: 25px;
    font-size: 25px;
}
.topgame2{
    height:300px;
    width: 190px;
    background-color: white;
    border-radius: 30px;
    background-image: url(/Lugx_gaming/top-game-02.jpg);
    background-repeat: no-repeat;
}
.topgame2 p{
    margin-top: 210px;
    margin-left: 25px;
    font-size: 25px;
}
.topgame3{
    height:300px;
    width: 190px;
    background-color: white;
    border-radius: 30px;
    background-image: url(/Lugx_gaming/top-game-03.jpg);
    background-repeat: no-repeat;
}
.topgame3 p{
    margin-top: 210px;
    margin-left: 25px;
    font-size: 25px;
}
.topgame4{
    height:300px;
    width: 190px;
    background-color: white;
    border-radius: 30px;
    background-image: url(/Lugx_gaming/top-game-04.jpg);
    background-repeat: no-repeat;
}
.topgame4 p{
    margin-top: 210px;
    margin-left: 25px;
    font-size: 25px;
}
.topgame5{
    height:300px;
    width: 190px;
    background-color: white;
    border-radius: 30px;
    background-image: url(/Lugx_gaming/top-game-05.jpg);
    background-repeat: no-repeat;
}
.topgame5 p{
    margin-top: 210px;
    margin-left: 25px;
    font-size: 25px;
}
.topgame6{
    height:300px;
    width: 190px;
    background-color: white;
    border-radius: 30px;
    background-image: url(/Lugx_gaming/top-game-06.jpg);
    background-repeat: no-repeat;
}
.topgame6 p{
    margin-top: 210px;
    margin-left: 25px;
    font-size: 25px;
}

.Categories{
    text-align: center;
}
.categorie{
    display: flex;
    justify-content: space-evenly;

}
.categorie1{
    height: 270px;
    width: 200px;
    background-color: blue;
    border-radius: 20px;
    background-image: url(/Lugx_gaming/categories-01.jpg);
    background-repeat: no-repeat;
}
.catrgorie2{
    height: 270px;
    width: 200px;
    background-color: blue;
    border-radius: 20px;
    background-image: url(/Lugx_gaming/categories-05\ \(1\).jpg);
    background-repeat: no-repeat;
}

.categorie3{
    height: 270px;
    width: 200px;
    background-color: blue;
    border-radius: 20px;
    background-image: url(/Lugx_gaming/categories-04.jpg);
    background-repeat: no-repeat;
}
.categorie4{
    height: 270px;
    width: 200px;
    background-color: blue;
    border-radius: 20px;
    background-image: url(/Lugx_gaming/categories-05.jpg);
    background-repeat: no-repeat;
}
.categorie5{
    height: 270px;
    width: 200px;
    background-color: blue;
    border-radius: 20px;
    background-image: url(/Lugx_gaming/categories-03.jpg);
    background-repeat: no-repeat;
}


/* .livehead{
    width: 100%;
height: 600px;
background-color: lightcyan;
}
.livepage1{
    height: 400px;
    width: 300px;
    background-color: #ee626b;
    border-radius: 20px;
} */