.pricing-container {
    text-align: center;
    padding: 2rem;
    background-color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
  }
  
  .blog-heading {
    color: #243e63;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  .blog-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #7c8ba1;
    margin-bottom: 2rem;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .blog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

    /* color: #6415ff; */
 